@import "../../assets/css/variable.scss";

.section1 {
  width: 1200px;
  margin: auto;
  height: 600px;
  border: $b;
  display: flex;
  justify-content: center;
  .left,
  .right {
    width: 600px;
    border: 1px solid #000;
  }
}
